.date-range-picker {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__button-group {
    display: flex;
    flex-direction: row;
  }

  &__active {
    color: var(--brand-primary) !important;
    background-color: var(--brand-secondary) !important;
    z-index: 1;
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }

  &__button {
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--brand-secondary);
    color: var(--brand-secondary);
    background-color: var(--brand-primary);
    cursor: pointer;

    &:hover {
      background-color: var(--brand-secondary);
      color: var(--brand-primary);
    }

    &:focus {
      outline: solid 0.125rem var(--brand-focus);
      outline-offset: 0.125rem;
      z-index: 1;
    }

    &:first-child {
      border-radius: 0.5rem 0 0 0.5rem;
      border-right: none;
    }

    &:last-child {
      border-radius: 0 0.5rem 0.5rem 0;
      border-left: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .date-range-picker {
    &__button {
      padding: 0.5rem 1rem;
    }
  }
}
