.date-range-picker {
  display: flex;
  flex-direction: column;

  &__overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &__date {
    font-size: 1.1rem;
    font-weight: 600;
  }

  &__button-group {
    display: flex;
    flex-direction: row;
  }

  &__active {
    color: var(--primarycolor) !important;
    background-color: var(--secondarycolor) !important;
  }

  &__button {
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--secondarycolor);
    color: var(--secondarycolor);
    background-color: var(--primarycolor);
    cursor: pointer;

    &:first-child {
      border-radius: 0.5rem 0 0 0.5rem;
      border-right: none;
    }

    &:last-child {
      border-radius: 0 0.5rem 0.5rem 0;
      border-left: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .date-range-picker {
    &__overview {
      margin-bottom: 0.5rem;
    }

    &__button {
      padding: 0.5rem 1rem;
    }
  }
}
