.summary-overview {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.summary-overview__label {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.25em 0.5em;
  font-size: 1em;
  font-weight: 500;
}

.summary-overview__min {
  background-color: #747bff;
}

.summary-overview__max {
  background-color: red;
}
