.summary-overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem;

  span {
    line-height: 1;
  }

  .react-loading-skeleton {
    border-radius: 0.25rem;
    height: 6.75rem;
    --base-color: var(--brand-primary);
    --highlight-color: var(--brand-background);
  }
}

@media only screen and (max-width: 600px) {
  .summary-overview {
    gap: 0.5rem;

    .react-loading-skeleton {
      height: 5.5rem;
    }
  }
}
