.summary-overview {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  margin-bottom: 20px;

  &__label {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.25em 0.5em;
    font-size: 1em;
    font-weight: 500;
  }

  &__min {
    background-color: #3a44fe;
    color: white;
  }

  &__max {
    background-color: rgb(222, 0, 0);
    color: white;
  }
}
