.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem 2rem;

  color: var(--primarycolor);
  background-color: var(--secondarycolor);

  & a {
    color: var(--primarycolor);
  }

  &__title {
    font-weight: 700;
  }
}
