.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem 2rem;

  background-color: var(--brand-primary);
  box-shadow: 0px 4px 16px -4px var(--brand-shadow);

  & a {
    line-height: 1rem;

    &:focus {
      outline: solid 2px var(--brand-focus);
      outline-offset: 4px;
    }
  }

  & svg {
    width: 1.5rem;
    height: 1.5rem;

    & path {
      fill: var(--brand-icon);
    }
  }

  &__title {
    font-weight: 700;
  }

  &__links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    margin-bottom: 1.5rem;
  }
}
