:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f4f4f4;
    --panelcolor: white;
    --buttoncolor: white;
    --buttonbordercolor: black;
    --buttonhovercolor: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    --panelcolor: black;
    --buttoncolor: black;
    --buttonbordercolor: white;
    --buttonhovercolor: white;
  }
}

& p {
  margin: 0;
}
