.calendar-picker {
  display: flex;
  justify-content: center;

  &__close {
    display: flex;
    justify-content: flex-end;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }
}

::backdrop {
  backdrop-filter: blur(2px);
}

dialog[open] {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

dialog {
  opacity: 0;
  transition: opacity 0.5s ease-out, overlay 0.7s ease-out allow-discrete,
    display 0.7s ease-out allow-discrete;
}

@starting-style {
  dialog[open] {
    opacity: 0;
  }
}
